/* Write your CSS here */
.bg-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.google-img {
  height: 100px;
  width: 500px;
}
.search-and-list {
  width: 600px;
  margin: 20px;
}
ul {
  padding: 0px;
}
